.insert-file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  margin-inline: 36px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-content {
  text-align: right;
}
.insert-option {
  padding: 63px;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.insert-text {
  font-size: 16px;
  color: #475367;
  margin-top: 5px;
}

.insert-button {
  font-family: Montserrat;
  background-color: #0048ad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  height: 45px;
  width: max-content;
}

.insert-button:hover {
  background-color: #003585;
}
/* file details */
.details-top {
  margin-inline: 36px;
  width: 1050px;
  height: 146px;
  margin-top: 40px;
  display: flex;
}

.details-transcribed {
  /* flex: 1; */
  margin-right: 10px;
  border: solid 1px #e4e7ec;
  border-radius: 5px;
  background: white;
  width: 354.67px;
  height: 130px;
  padding: 10px;
}

.details-upload {
  /* flex: 1; */
  padding: 10px;
  margin-right: 10px;
  border: solid 1px #e4e7ec;
  background: white;
  width: 354.67px;
  border-radius: 5px;
  height: 130px;
}

.details-saved {
  /* flex: 1; */
  background: white;
  border-radius: 5px;
  width: 354.67px;
  border: solid 1px #e4e7ec;
  height: 130px;
  padding: 10px;
}
.detail-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-number {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 800;
  color: #344054;
  font-size: 1.5rem;
}
.detail-name {
  margin-top: 10px;
  margin-left: 10px;
}

/* Recent files  */

.recent-top {
  margin: 36px;
  background-color: white;
  height: max-content;
}

.recent-heading {
  padding-inline: 36px;
  padding-block-start: 36px;
  font-size: 18px;
  font-weight: 600;
}
.horizontal-line {
  width: 100%;
  border-top: 1px solid #000;
}
.recent-line {
  padding-inline: 36px;
  padding-block: 18px;
}
.recent-table-container {
  margin: 0 36px;
}

.recent-files-table {
  width: 100%;
  border-collapse: collapse;
}

.recent-files-table th,
.recent-files-table td {
  border: none;
  text-align: left;
  padding: 10px;
}

.recent-files-table tbody tr:hover {
  cursor: pointer;
  border-radius: 110px;
  background-color: #e0edff;
}
.recent-files-table tbody tr {
  border-bottom: 1px solid #ccc;
}
.modal-top {
  width: 600px;
  height: 480px;
  padding: 20px 30px 20px 30px;
}

.modal-heading {
  /* display: flex; */
  width: 600px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 23px;
  font-weight: bolder;
  font-family: Montserrat;
}

.modal-drop {
  margin-top: 20px;
  width: 600px;
  height: 339px;
  font-family: Montserrat;
}

.close-button {
  background-color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  cursor: pointer;
  width: 38px;
  margin-left: auto;
}
.modal-dropdown {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  padding-inline-start: 16px;
  color: grey;
  font-size: 15px;
}
.modal-upload {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-block: 40px;
}
.modal-upload-ico {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #e0edff;
  display: flex;
  margin-left: 0px;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: 12px;
  margin-top: 2px;
  color: #0048ad;
}
.modal-desc {
  text-align: center;
  font-weight: 600;
  color: #0048ad;
  margin-top: 20px;
}
.modal-size-limit-message {
  margin-top: 10px;
  font-size: 12px;
  color: #475367;
}
.modal-input-file {
  width: 100%;
  border: 1px solid grey;
  height: 36px;
  border-radius: 10px;
  font-size: 15px;
  padding-inline-start: 20px;
  font-family: Montserrat;
  outline: none;
}
